# use glob syntax.
syntax: glob

out_*
myvis.gldb
.idea
myfigure*
_uwid.py
*~
h5py
.build_success
.config_success
.ipynb_checkpoints
.scon*
config.*
build
testLogs
*.pyc
*.cfg
.DS_Store
*.dblite         #
*.orig
*.bak
:memory
*/output/*
Untitled*.ipynb
*/ignore/*
underworld/libUnderworld/libUnderworldPy/*wrap.cxx
underworld/libUnderworld/libUnderworldPy/Function.py
underworld/libUnderworld/libUnderworldPy/PICellerator.py
underworld/libUnderworld/libUnderworldPy/Solvers.py
underworld/libUnderworld/libUnderworldPy/StGermain.py
underworld/libUnderworld/libUnderworldPy/StGermain_Tools.py
underworld/libUnderworld/libUnderworldPy/StgDomain.py
underworld/libUnderworld/libUnderworldPy/StgFEM.py
underworld/libUnderworld/libUnderworldPy/Underworld.py
underworld/libUnderworld/libUnderworldPy/c_arrays.py
underworld/libUnderworld/libUnderworldPy/c_pointers.py
underworld/libUnderworld/libUnderworldPy/gLucifer.py
underworld/libUnderworld/libUnderworldPy/petsc.py
underworld/libUnderworld/libUnderworldPy/lavavu.py
testResults
docs/scratch
docs/test/*Output
*ipynb.out
*ipynb.err
myfigure*

# We should probably not cache the output of all the examples -  if we are going to leave the
# notebook output cells in place, then there is not much need.

docs/examples/SimpleShear2D
docs/examples/PureShear2D
docs/examples/Buckling2D
docs/examples/SlabSubduction
docs/examples/*Output
docs/examples/*.pdf

docs/Rheology/

docs/publications/TosiEtAl-2015/TosiOutput

docs/development/TransIsoCompression
docs/development/TransIsoShear

docs/myvis.gldb

# switch to regexp syntax.

syntax: regexp
(^|/)\.svn($|/)
(^|/)\.hg($|/)
(^|/)\.hgtags($|/)

*.cfg

# To save the trouble of purging this for now.
*/.texpadtmp/*

underworld/libUnderworld/Underworld/SysTest/AnalyticPlugins/Doc/.texpadtmp/*


docs/examples/BBOutput2/summary.txt

docs/examples/subduction.gldb

docs/test/Pressure_Error.png

docs/user_guide/deformedMesh.h5

docs/user_guide/highdef.png

docs/user_guide/surf.gldb

docs/user_guide/SwarmWithCircle.h5

docs/user_guide/SwarmWithCircle.materialIndex.h5

docs/user_guide/highdef.png

docs/user_guide/deformedMesh.h5

docs/user_guide/surf.gldb

docs/test/Pressure_Error.png

docs/test/uplift/buildMount.txt
docs/test/temp.h5
